
body {
    background-color: blueviolet;
}
header {
    background-color: coral;
    color : rgb(170, 140, 100);
    text-align: center;
}
nav{
    color: #ff55ff;;
}
li{
    display: inline-block;
}

main{
    margin: auto;
    width: auto;
    
}

